package ru.pflb.at;

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;
import org.junit.AfterClass;
import org.junit.BeforeClass;
import org.junit.runner.RunWith;
import ru.pflb.at.helpers.SelenideConfuguration;
import static com.codeborne.selenide.Selenide.close;

@RunWith(Cucumber.class)
@CucumberOptions (features = "D:\\Users\\user\\IdeaProjects\\at-tests\\src\\test\\java\\ru\\pflb\\at\\features")
public class $className {


    @BeforeClass
    static public void configureSystem(){

        new SelenideConfuguration(

                System.getProperty("browser"),
                System.getProperty("log_level"),
                System.getProperty("with_proxy"),
                System.getProperty("timeout")

        ).startDriverWithCurrentProperties();

    }

    @AfterClass
    static public void tearDown(){
        close();
    }
}